@using BankingApp.Areas.BackOffice;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Context
@using BankingApp.Data;
@inject ISharedViewLocalizer localizer
@model ManageLoansViewModel
@{
	ViewData["Title"] = "Manage Loans";
	var currentUser = await UserManager.GetUserAsync(User);
	new ManagePermissions(Context);
	var permissions = await ManagePermissions.Get(currentUser);

}
<input type="hidden" asp-for="@Model.LoanId" />
<input asp-for="@Model.ActiveTab" type="hidden" />

<main class="col-lg-10 offset-lg-2">
	<nav class="d-flex justify-content-between bg-white align-items-center p-4 border__bottom">
		<div class="d-none d-lg-block">
			<h4 class="fw-semibold" style="font-size: 22px;">@localizer["Manage Loans"]</h4>
		</div>
		<div class="d-flex flex-row-reverse">
			<a asp-action="Profile" asp-controller="Employers" asp-area="BackOffice">
				<img src="~/assets/svg/user profile.svg" alt="" srcset="">
			</a>
			<div style="margin-right: 50px">
				@await Html.PartialAsync("_CulturePartial")
			</div>

		</div>
	</nav>

	<div class="py-4" x-data="{active_tab : @Model.ActiveTab}">
		<div class="mx-4">
			<ul class="d-flex align-items-center gap-4 nav__tabs__container">
				<li class="p-3 tab2" :class="{ 'nav__link__tab__active':  active_tab == 2 }" @@click="active_tab = 2">@localizer["Active Loan Accounts"]</li>
				<li class="p-3" :style="active_tab!=3 ? 'color:#BEBEBE':'' " :class="{ 'nav__link__tab__active':  active_tab == 3 }">@localizer["Active Loan Details"]</li>
				<li class="p-3" :class="{ 'nav__link__tab__active':  active_tab == 1 }" @@click="active_tab = 1">@localizer["Loan Requests"]</li>
				<li class="p-3" :style="active_tab!=4 ? 'color:#BEBEBE':'' " :class="{ 'nav__link__tab__active':  active_tab == 4 }">@localizer["Loan Request Details"]</li>
				@if (permissions.FirstOrDefault(p => p.Permission.Name.Equals("Manage Loan")).PermissionType == PermissionType.Update)
				{
					<li class="p-3 tab5" :class="{ 'nav__link__tab__active':  active_tab == 5 }" @@click="active_tab = 5">@localizer["Open New Loan"]</li>
				}
			</ul>

			<div class="py-4" x-show="active_tab == 1">
				<table id="tblLoanRequests" class="table">
					<thead class="thead-dark">
						<tr class="bg_primary text-white">
							<th scope="col" style="padding:1rem;">@localizer["Name"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Purpose of loan"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Amount"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Monthly payment"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Date"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Status"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Manage"]</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var l in @Model.Loans.Where(l => l.LoanStatus == LoanStatus.RequestSent || l.LoanStatus == LoanStatus.Processing).OrderByDescending(i => i.CreatedDate).ToList())
						{
							<tr class="border-1">
								<th style="padding:1rem;">@l.Customer.FirstName @l.Customer.LastName</th>
								<td style="padding:1rem;">@l.Purpose</td>
								<td class="secondery__font" style="padding:1rem;">@l.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
								<td class="secondery__font" style="padding:1rem;">@l.MonthlyPayment.ToString("G", CultureInfo.CurrentCulture)</td>
								<td style="padding:1rem;">@l.CreatedDate.ToString("g", CultureInfo.CurrentCulture)</td>
								<td style="padding:1rem;">@l.LoanStatus</td>
								<td style="padding:1rem;">
									<a data-lId="@l.Id" @@click="active_tab = 4" style="border-radius: 4px;"
								   class="bg_primary nav-item text-white text-center p-2 manageLoan">@localizer["Manage"]</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

			<div class="py-4" x-show="active_tab == 2">
				<table id="tblOpenLoans" class="table">
					<thead class="thead-dark">
						<tr class="bg_primary text-white">
							<th scope="col" style="padding:1rem;">@localizer["Customer"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Purpose of loan"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Amount"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Monthly payment"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Date"]</th>
							<th scope="col" style="padding:1rem;">@localizer["Manage"]</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var l in @Model.Loans.FindAll(l => l.LoanStatus == LoanStatus.Completed).OrderByDescending(i => i.CreatedDate).ToList())
						{
							<tr class="border-1">
								<th style="padding:1rem;">@l.Customer.FirstName @l.Customer.LastName</th>
								<td style="padding:1rem;">@l.Purpose</td>
								<td class="secondery__font" style="padding:1rem;">@l.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
								<td class="secondery__font" style="padding:1rem;">@l.MonthlyPayment.ToString("C", CultureInfo.CurrentCulture)</td>
								<td style="padding:1rem;">@l.CreatedDate.ToString("g", CultureInfo.CurrentCulture)</td>
								<td style="padding:1rem;">
									<a data-lId="@l.Id" @@click="active_tab = 3" style="border-radius: 4px;"
								   class="bg_primary nav-item text-white text-center p-2 manageOpenLoan">Manage</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

			<div class="py-4" x-show="active_tab == 3">
				<div id="LoanOpenLoanDetails">
				</div>
			</div>

			<div class="py-4" x-show="active_tab == 4">
				<div id="LoanRequestDetails">
				</div>
			</div>
			<div class="py-4" x-show="active_tab == 5">
				<div id="NewLoanView">
				</div>
			</div>

		</div>
	</div>
</main>

@section Scripts{
	<script>

		$(document).ready(function () {

			var activeTab = $("#ActiveTab").val();
			var lId = $("#LoanId").val();
			//if (activeTab == 2) {
			//	LoadAciveLoans()
			//}
			if (activeTab == 4) {
				LoadLoanDetails(lId)
			}
			if (activeTab == 3) {
				LoadOpenLoanDetails(lId);
			}
		});

		$("#tblLoanRequests").DataTable({
			"ordering": false,
		});
		$("#tblOpenLoans").DataTable({
			"ordering": false,
		});

		$(".tab5").click(function () {
			LoadNewLoan();
		});

		$('#tblOpenLoans tbody').on('click', '.manageOpenLoan', function () {
			var cId = $(this).attr("data-lId");
			LoadOpenLoanDetails(cId);
		});

		$('#tblLoanRequests tbody').on('click', '.manageLoan', function () {
			var cId = $(this).attr("data-lId");
			LoadLoanDetails(cId);
		})


		function LoadLoanDetails(cId) {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Loans/LoadLoanDetails',
				data: { "loanId": cId },
				success: function (data) {
					$('#LoanRequestDetails').html(data);
				},
				error: function (error) {
					toastr.error('Error occured. Please try again later.');
				}
			});
		}

		function LoadAciveLoans() {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Loans/LoadActiveLoans',
				success: function (data) {
					$('#ActiveLoans').html(data);
				},
				error: function (error) {
					toastr.error('Error occured. Please try again later.');
				}
			});
		}
		function LoadNewLoan() {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Loans/LoadNewLoan',
				success: function (data) {
					$('#NewLoanView').html(data);
				},
				error: function (error) {
					toastr.error('Error occured. Please try again later.');
				}
			});
		}

		//function LoadNewLoanView() {
		//	$.ajax({
		//		type: "GET",
		//		async: true,
		//		url: '/BackOffice/Loans/LoadNewLoanView',
		//		success: function (data) {
		//			$('#OpenNewLoan').html(data);
		//		},
		//		error: function (error) {
		//			alert('Error occured. Please try again later.');
		//		}
		//	});
		//}


		function LoadOpenLoanDetails(cId) {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Loans/LoadOpenLoanDetails',
				data: { "loanId": cId },
				success: function (data) {
					$('#LoanOpenLoanDetails').html(data);
				},
				error: function (error) {
					toastr.error('Error occured. Please try again later.');
				}
			});
		}



	</script>

}
