@model ManageCustomersViewModel
@using BankingApp.Areas.BackOffice;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Context
@using BankingApp.Data;
@inject ISharedViewLocalizer localizer

@{
	var currentUser = await UserManager.GetUserAsync(User);
	new ManagePermissions(Context);
	var permissions = await ManagePermissions.Get(currentUser);
}

<table id="tblCustomers" class="table">
	<thead class="thead-dark">
		<tr class="bg_primary text-white border">
			<th scope="col" style="padding:1rem;">@localizer["ID"]</th>
			<th scope="col" style="padding:1rem;">@localizer["Name"]</th>
			<th scope="col" style="padding:1rem;">@localizer["Email"]</th>
			<th scope="col" style="padding:1rem;">@localizer["Phone Number"]</th>
			<th scope="col" style="padding:1rem;" class="text-center">@localizer["Accounts"]</th>
			<th scope="col" style="padding:1rem;">@localizer["Account Balance"]</th>
			<th scope="col" style="padding:1rem;">@localizer["Loan Balance"]</th>
			<th scope="col" style="padding:1rem;">@localizer["Status"]</th>
			<th scope="col" style="padding:1rem;" class="text-center">@localizer["Manage"]</th>
			<th scope="col" style="padding:1rem;" class="text-center">@localizer["Accounts"]</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Customers != null && Model.Customers.Any())
		{
			@foreach (var b in Model.Customers)
			{
				<tr class="border">
					<th style="padding:1rem;">@b.CustomerUniqueId</th>
					<th style="padding:1rem;">@b.FirstName @b.LastName</th>
					<td style="padding:1rem;">@b.Email</td>
					<td style="padding:1rem;">@b.PhoneNumber</td>
					<td style="padding:1rem;" class="text-center">@(b.Accounts == null ? 0 : b.Accounts.Count())</td>
					<td class="secondery__font fw-500" style="padding:1rem;"><b>@b.Accounts.Where(a => a.AccountType != AccountType.Loan).Sum(a => a.Balance).ToString("C", CultureInfo.CurrentCulture)</b></td>					
					<td class="secondery__font fw-500" style="padding:1rem;"><b>@b.LoanBalance.ToString("C", CultureInfo.CurrentCulture)</b></td>
					<td style="padding:1rem;">@(b.IsActive ? "Active" : "Inactive")</td>

					<td style="padding:1rem;" class="text-center"><a data-cId="@b.Id" @@click="active_tab = 2" style="border-radius: 4px;" class="bg_primary nav-item text-white text-center p-2 manageCustomer">@localizer["Manage"]</a></td>
					<td style="padding:1rem;" class="text-center"><a data-aId="@b.Id" @@click="active_tab = 4" style="border-radius: 4px;" class="bg_primary nav-item text-white text-center p-2 manageAccounts">@localizer["Accounts"]</a></td>

				</tr>
			}

		}
	</tbody>
</table>

<script>

	$('#tblCustomers tbody').on('click', '.manageCustomer', function () {
		var cId = $(this).attr("data-cId");
		LoadCustomerDetails(cId);
	})

	function LoadCustomerDetails(cId) {
		$.ajax({
			type: "GET",
			async: true,
			url: '/BackOffice/Customers/LoadCustomerDetails',
			data: { "customerId": cId },
			success: function (data) {
				$('#customerDetails').html(data);
			},
			error: function (error) {
				alert('Error occured. Please try again later.');
			}
		});
	}


	$('#tblCustomers tbody').on('click', '.manageAccounts', function () {
		var aId = $(this).attr("data-aId");
		LoadAccounts(aId);
	})

	function LoadAccounts(cId) {
		$.ajax({
			type: "GET",
			async: true,
			url: '/BackOffice/Customers/LoadAccounts',
			data: { "customerId": cId },
			success: function (data) {
				$('#accounts').html(data);
			},
			error: function (error) {
				alert('Error occured. Please try again later.');
			}
		});
	}
</script>