@model ManageCustomersViewModel
@using BankingApp.Areas.BackOffice;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Context
@using BankingApp.Data;
@inject ISharedViewLocalizer localizer

@{
	ViewData["Title"] = "Manage Customers";
	var currentUser = await UserManager.GetUserAsync(User);
	new ManagePermissions(Context);
	var permissions = await ManagePermissions.Get(currentUser);
}

<input asp-for="@Model.ActiveTab" type="hidden" />
<input asp-for="@Model.Account.Id" type="hidden" />
<input asp-for="@Model.Customer.Id" type="hidden" />
<main class="col-10 col-lg-10 offset-lg-2 offset-0 ">
	<nav class="d-flex justify-content-between bg-white align-items-center p-4 border__bottom">
		<div class="d-none d-lg-block">
			<h4 class="fw-semibold" style="font-size: 22px;">@localizer["Customers"]</h4>
		</div>
		<div class="d-flex flex-row-reverse">
			<a asp-action="Profile" asp-controller="Employers" asp-area="BackOffice">
				<img src="~/assets/svg/user profile.svg" alt="" srcset="">
			</a>
			<div style="margin-right: 50px">
				@await Html.PartialAsync("_CulturePartial")
			</div>

		</div>
	</nav>
	<div x-data="{active_tab : @Model.ActiveTab}" class="px-4">
		<ul class="d-flex align-items-center gap-4 nav__tabs__container pt-4">
			<li class="p-3 tab1" :class="{ 'nav__link__tab__active':  active_tab == 1 }" @@click="active_tab = 1">@localizer["List of Customers"]</li>
			<li class="p-3" :style="active_tab!=2 ? 'color:#BEBEBE':'' " :class="{ 'nav__link__tab__active':  active_tab == 2 }">@localizer["Customer Details"]</li>
			@if (permissions.FirstOrDefault(p => p.Permission.Name.Equals("Manage Customers")).PermissionType == PermissionType.Update)
			{
				<li class="p-3 tab3" :class="{ 'nav__link__tab__active':  active_tab == 3 }" @@click="active_tab = 3">@localizer["Add new Customer"]</li>
			}
			<li class="p-3" :style="active_tab!=4 ? 'color:#BEBEBE':'' " :class="{ 'nav__link__tab__active':  active_tab == 4 }">@localizer["Customer Accounts"]</li>
			<li class="p-3" :style="active_tab!=5 ? 'color:#BEBEBE':'' " :class="{ 'nav__link__tab__active':  active_tab == 5 }">@localizer["Account Details"]</li>
			@if (permissions.FirstOrDefault(p => p.Permission.Name.Equals("Manage Customers")).PermissionType == PermissionType.Update)
			{
				<li class="p-3" :style="active_tab!=6 ? 'color:#BEBEBE':'' " :class="{ 'nav__link__tab__active':  active_tab == 6 }">@localizer["Create Account"]</li>
			}
		</ul>

		<div class="py-4">
			<div class="py-4" x-show="active_tab == 1">
				<div class="row">
					<p class="col-2">@localizer["Filter by status"]: </p>
					<div class="col-4">
						<div class="form-check form-check-inline">
							<input id="active" class="form-check-input" onchange="LoadCustomerList('active')" type="radio" name="free" value="Active" checked>
							<label class="form-check-label" for="active">@localizer["Active"]</label>
						</div>
						<div class="form-check form-check-inline">
							<input id="inactive" class="form-check-input" onchange="LoadCustomerList('inactive')" type="radio" name="free" value="Inactive">
							<label class="form-check-label" for="inactive">@localizer["Inactive"]</label>
						</div>
						<div class="form-check form-check-inline">
							<input id="all" class="form-check-input" onchange="LoadCustomerList('all')" type="radio" name="free" value="">
							<label class="form-check-label" for="all">@localizer["All"]</label>
						</div>
					</div>
				</div>
				<div id="customerList"></div>
			</div>
			<div id="customerDetails" class="mt-4" x-show="active_tab == 2">
			</div>
			<div id="newCustomer" class="mt-4" x-show="active_tab == 3">
			</div>
			<div id="accounts" x-show="active_tab == 4">
			</div>
			<div id="accountDetails" x-show="active_tab == 5"></div>
			<div id="createAccount" x-show="active_tab == 6"></div>
		</div>
	</div>
</main>
@section Scripts{
	<script>
		$(document).ready(function () {

			var activeTab = $("#ActiveTab").val();

			if (activeTab == 2) {
				LoadCustomerDetails($("#Customer_Id").val())
			}
			if (activeTab == 5) {
				LoadAccountTransactions($("#Account_Id").val())
			}
			if (activeTab == 4) {
				LoadAccounts($("#Customer_Id").val())
			}
			if (activeTab == 6) {
				LoadAddAccount($("#Customer_Id").val())
			}

			$(".tab1").click(function () {
				$("#active").prop("checked", true);
				LoadCustomerList('active');
			});

			$(".tab3").click(function () {
				LoadAddNewCustomerView();
			});

			LoadCustomerList('active');
		});

		function LoadCustomerList(status) {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Customers/LoadCustomerList',
				data: { 'status': status },
				success: function (data) {
					$('#customerList').html(data);
				},
				error: function (error) {
					alert('Error occured. Please try again later.');
				}
			});
		}

		function LoadAddAccount(cId) {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Customers/LoadAddAccount',
				data: { "customerId": cId },
				success: function (data) {
					$('#createAccount').html(data);
				},
				error: function (error) {
					alert('Error occured. Please try again later.');
				}
			});
		}

		function LoadAccountTransactions(cId) {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Customers/LoadAccountTransactions',
				data: { "accountId": cId },
				success: function (data) {
					$('#accountDetails').html(data);
				},
				error: function (error) {
					alert('Error occured. Please try again later.');
				}
			});
		}

		function LoadAddNewCustomerView() {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Customers/LoadAddNewCustomerView',
				success: function (data) {
					$('#newCustomer').html(data);
				},
				error: function (error) {
					alert('Error occured. Please try again later.');
				}
			});
		}


		$(".manageAccountDetails").click(function () {
			var aId = $(this).attr("data-aId");
			LoadAccountDetails(aId);
		})

		function LoadAccountDetails(cId) {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Customers/LoadAccountDetails',
				data: { "accountId": cId },
				success: function (data) {
					$('#accountDetails').html(data);
				},
				error: function (error) {
					alert('Error occured. Please try again later.');
				}
			});
		}

		function LoadAccounts(cId) {
			$.ajax({
				type: "GET",
				async: true,
				url: '/BackOffice/Customers/LoadAccounts',
				data: { "customerId": cId },
				success: function (data) {
					$('#accounts').html(data);
				},
				error: function (error) {
					alert('Error occured. Please try again later.');
				}
			});
		}

	</script>
}
